.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;
  padding: 20px;

  text-align: center;
  color: white;
  font-size: 1.4rem;
}

.home-title {
  margin-bottom: 30px;
}

.contenedorDeColumnas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-list {
  display: flex;
  flex-direction: row; 
  list-style: none;
  padding: 0;
  margin: 0;
  gap : 20px;
}

.home-item {
  margin: 15px 0;
}

.home-btn {
  padding: 12px 25px;
  min-width: 180px;
  font-size: 1.1rem;
  font-weight: bold;

  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;

  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.home-btn:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transform: scale(1.05);
}

.home-btn:active {
  transform: scale(0.95);
}

@media (max-width: 600px){

  .home-container {
    font-size: 1rem;
    padding: 10px;
  }

  .home-list {
    flex-direction: column;
    gap: 10x;
  }

  .home-btn {
    min-width: auto;
    width: 85%;
    padding: 10px 15px;

    border-width: 1px;
    font-size: 1rem;
  }

  .home-title {
    font-size: 1.2rem;
  }
}