html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}



.all{
  width: 100%;
  height: 100%;
}

.container {
  --size:80px;
  background-color: white;
  color: black;
  padding: 2rem;
  width: var(--size *2);
  height: var(--size);
  text-align: center;
  align-items: center;
}

.containerQuestion {
  --size:100px;
  background-color: white;
  color: black;
  padding: 2rem;
  margin: 35px;
  width: var(--size *2);
  height: var(--size);
  text-align: center;
  align-items: center;
}

.contenedorDeColumnas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px; 
  padding: 2rem;
}
